@import "../../assets/theme.scss";

.main_content {
  width: 100%;

  h4 {
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 32px;
  }

  p {
    text-align: center;
    @extend %bodyText1;
  }

  .pic_holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .img_wrap {
      width: 250px;
      border: 1px solid $silver-gray;
      box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
      border-radius: 4px;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }
  }
}
