h4 {
  font-size: 34px;
  color: #242424 !important;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-family: "Gotham Pro";
  line-height: 1.3;
  margin: 0;
}

section .main_content p {
  font-size: 16px;
  color: #242424 !important;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 1.5;
  font-family: "Gotham Pro";
}

section .search_wrap input, section .search_wrap input::placeholder, section .search_wrap button {
  font-size: 16px;
  color: #242424 !important;
  font-weight: normal;
  letter-spacing: 0.2px;
  font-family: "Gotham Pro";
  line-height: 16px;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 40px;
}

section h4 {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 32px;
}

section .search_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section .search_wrap input {
  width: 80%;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #b3b3b3 !important;
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
  border-radius: 4px;
}

section .search_wrap input::placeholder {
  opacity: 0.7;
}

section .search_wrap button {
  text-transform: uppercase;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #b3b3b3 !important;
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
  border-radius: 4px;
  background-color: #ffe6ff !important;
  cursor: pointer;
}

section .main_content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

section .main_content p {
  width: 50%;
}

section .main_content .img_wrap {
  width: 45%;
  height: fit-content;
  border: 1px solid #b3b3b3 !important;
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

section .main_content .img_wrap img {
  width: 100%;
}

section .main_content .img_wrap .color_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 230, 255, 0.5);
}
