@import "../../assets/theme.scss";

ul {
    width: 80%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    padding: $padding;

    li {
        list-style-type: none;
        @extend %heading5;
        color: $silver-gray;
        border: 1px solid $pink;
        padding: 15px;
        cursor: pointer;
    }
}
