h4 {
  font-size: 34px;
  color: #242424 !important;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-family: "Gotham Pro";
  line-height: 1.3;
  margin: 0;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section h4 {
  text-transform: capitalize;
  text-align: center;
}

section button {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

section .section_content {
  width: 100%;
  padding-top: 40px;
  display: flex;
}

section .section_content .section_content__item {
  width: 33.3%;
}

section .section_content .section_content__item .img_wrap {
  width: 100%;
  height: fit-content;
  border: 1px solid #b3b3b3 !important;
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
  padding: 10px;
}

section .section_content .section_content__item .img_wrap img {
  width: 100%;
}
