<section>
  <h4>Tell us about your sweetie</h4>
  <div class="section_content">
    <form [formGroup]="userForm">
      <div class="form_column">
        <div class="form_column__checkbox_group">
          <label for="allPets" class="form_checkbox main_checkbox">
            <input type="checkbox" id="allPets" (change)="chengeAllCheckgoxGroupValue($event)" [checked]='mainCheckbox'>
            <div class="form_checkbox_wrap">
              <svg viewBox="0 0 512 512">
                <g>
                  <g>
                    <path fill='#242424' d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                  c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                  C514.5,101.703,514.499,85.494,504.502,75.496z" />
                  </g>
                </g>
              </svg>
            </div>
            <span>
              All of them
            </span>
          </label>
          <label *ngFor="let item of petsArr" class="form_checkbox">
            <input (change)="onChangeFormArr($event)" type="checkbox" id={{item.name}} [checked]="item.value"
              value="{{item.name}}">
            <div class="form_checkbox_wrap">
              <svg viewBox="0 0 512 512">
                <g>
                  <g>
                    <path fill='#242424' d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                C514.5,101.703,514.499,85.494,504.502,75.496z" />
                  </g>
                </g>
              </svg>
            </div>
            <span>
              {{item.name}}
            </span>
          </label>
        </div>
        <div class="form_column__input_group">
          <label for="petsName">Name of your sweetie</label>
          <input id="petsName" type="text" name="" value="ex. Bobby" formControlName="petsName">
        </div>
      </div>
      <div class="form_column">
        <div class="form_column__input_group">
          <label for="petsName">All about your sweetie</label>
          <textarea name="" id="" placeholder="ex. He is lovely and fluffy"
          formControlName="petsDescription"></textarea>
        </div>
      </div>
      <div class="form_row">
        <label for="petPic">Add some pics</label>
        <input type="file" name="" id="petPic" (change)="previewFile($event)" multiple>
        <div class="form_row__loaded_pics" *ngIf="picsLinks">
          <div *ngFor="let item of picsLinks" class="img_wrap">
            <img src={{item}} alt="">
          </div>
        </div>
      </div>
      <button (click)="createMessage()">Tell us</button>
    </form>
  </div>
</section>
