h4 {
  font-size: 34px;
  color: #242424;
  font-weight: 500;
  letter-spacing: 0.25px;
  font-family: "Gotham Pro";
  line-height: 1.3;
  margin: 0;
}

h5 {
  font-size: 24px;
  color: #242424;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-family: "Gotham Pro";
  margin: 0;
}
