/* You can add global styles to this file, and also import other style files */
@import url("assets/theme.scss");


@font-face {
  font-family: "Gotham Pro";
  src: url(assets/fonts/GothamPro.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(assets/fonts/GothamPro-Italic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(assets/fonts/GothamPro-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(assets/fonts/GothamPro-BoldItalic.woff);
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gotham Pro', 'Roboto', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea,
input[type=text],
input[type=number],
input[type=tel],
input[type=submit],
input[type=radio],
input[type=checkbox] {
  outline: none;
  background-image: none;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
